* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 15), #050324);
    background-size: 1000% 1000%;
}

.cabecalho nav {
    font-size: 2.1rem; 
    text-decoration: none;
    word-spacing: 1.875rem; 
    gap: 10rem; 
    top: 0;
    left: 3.125rem; 
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 0.625rem 18.75rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.9); 
    z-index: 1000;
    line-height: 2.3;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 100;
}

.menu a {
    font-size: 2em;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Roboto Slab';
    letter-spacing: 1px;
    padding: 6px 15px;
    border-radius: 8px;
    transition: 0.5s;
}
.menu a:hover,
a.active {
    color: #333;
    background: #fff;
}

.logo-site {
    position: fixed;
    top: 0;
    left: 0; 
    width: 5.68rem; 
    height: auto; 
    z-index: 1000; 
    padding: 0 0.625rem; 
    margin: 0.3125rem; 
}

.logo-site {
    cursor: pointer;
}

.animaismenu {
    text-decoration: none;
    color: #000000;
    font-family: "Roboto Slab", serif, medium;
    transition: color 0.6s ease-in-out;
}

.animaismenu:hover {
    color: rgb(81, 178, 235);
}

.sobremenu {
    text-decoration: none;
    color: #000000;
    font-family: "Roboto Slab", serif, medium;
    transition: color 0.6s ease-in-out;
    word-spacing: 0.125rem; 
}

.sobremenu:hover {
    color: rgb(81, 178, 235);
}
.help {
    position: fixed;
    bottom: 0.5rem; 
    right: 0.5rem; 
    border: none;
    outline: none;
    background: none;
    padding: 0;
    cursor: pointer;
    z-index: 1000;
}

.help .help-text {
    visibility: hidden;
    width: 120px;
    transform: translateY(-150px);
    right: 7%;
    background-color: #000000;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: "Roboto slab", serif;
}

.help:hover .help-text {
    visibility: visible;
    opacity: 1;
}

#botao-ajuda {
    width: 4rem; 
    height: 4rem;
    transition: transform 0.6s ease;
}

.help:hover #botao-ajuda {
    transform: scale(1.3);
    color: black;
}

#home2 {
    width: 100%;
    height: 100vh; 
}

.imagem-peixes2 {
    position: absolute;
    top: 1.25rem; 
    left: 1.25rem; 
    width: 29rem; 
    height: auto; 
    z-index: 1; 
}

.text-fundo2 {
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-thickness: 0.4rem;
    color: white; 
    font-size: 5rem; 
    font-family: "Roboto Slab";
    margin-top: -45.8rem;
    color: white; 
    z-index: 1; 
}

.bem-vindo{
    padding-top: 10rem;
}
.img-cavalo{

    width: 33rem;

}

.img-cavalo{ 
    position: relative;
    display: inline-block;
}


.img-cavalo img{
    cursor: pointer;
    padding-left: 25rem;
    margin-top: 2rem;
    height: 40rem;
    
}


.img-cavalo{
    transition: all .3s;
}

.img-cavalo:hover{
    transform: translateY(-20px);
}

.img-cavalo:hover .img-cavalo{
    opacity: .5;
    filter: drop-shadow(4px 4px 20px white);
}

.img-cavalo .img-cavalo:hover{
    opacity: 1;
}

.bem-vindo{
    margin-left: 18rem;
    margin-top: 7rem;
    height: 6.25rem; 
    color: white; 
    font-size: 2.1rem;
    font-family: Barlow; 
    font-weight: 600; 
    word-wrap: break-word;
    display: flex;
}

.card-container {
    position: relative;
    display: inline-block;
}


.container img{
    margin-top: 1rem;
    margin-left: 4.7rem;
    cursor: pointer;
}


.card{
    transition: all .3s;
}

.card:hover{
    transform: translateY(-20px);
}

.container:hover .card{
    opacity: .5;
}

.container .card:hover{
    opacity: 1;
}


.h1-animais{
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.2rem;
    font-family: "Roboto Slab", serif, bold;
    margin-top: -3rem;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

p{
    color: #fff;
    font-family: "Roboto Slab", serif, medium;
    margin-top: 1.8rem;
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.help{
    position: fixed;
    bottom: 0.5rem; 
    right: 0.5rem; 
    border: none;
    outline: none;
    background: none;
    padding: 0;
    cursor: pointer;
    z-index: 1000;
    width: 3.5rem;
}


.help:hover{
    visibility: visible;
    opacity: 1;
}


.inver{
    color: white;
    font-family: "Roboto Slab", serif, medium;
    padding-left: 10rem;
}

.mamiferos{
    color: white;
    font-family: "Roboto Slab", serif, medium;
    padding-left: 39.5rem;
    margin-top: -1.9rem;
}

.tubaroes{
    color: white;
    font-family: "Roboto Slab", serif, medium;
    padding-left: 68rem;
    margin-top: -1.9rem;
}

.peixes{
    color: white;
    font-family: "Roboto Slab", serif, medium;
    padding-left: 97rem;
    margin-top: -1.9rem;
}

.turtle{
    padding: 3.125rem; 
    padding-left: 4rem; 
    width: 39rem; 
    height: auto;
    margin-top: 9.3rem; 
}

.text-fundo4 {
    font-size: 5rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-thickness: 0.4rem;
    text-align: right;
    position: absolute;
    margin-left: 47rem;
    top: 29%;
    transform: translateY(-90%); 
    color: white; 
    text-align: right; 
    z-index: 1; 
    margin-top: 114rem; 
    font-family: Roboto Slab;
}
    


.texto-poluicao {
    color: white; 
    font-size: 2.3rem;
    font-weight: 500;
    font-family: Barlow; 
    justify-content: right;
    padding: 14rem;
    margin-top: -44rem;
    text-align: justify;
}

.card-container2 { 
    position: relative;
    display: inline-block;
}


.container2 img{
    height: 29rem;
    cursor: pointer;
    padding-left: 12rem;
    margin-top: 2rem;
    
}


.card{
    transition: all .3s;
}

.card:hover{
    transform: translateY(-20px);
}

.container2:hover .card{
    opacity: .5;
}

.container2 .card:hover{
    opacity: 1;
}


.text1{
    padding-top: 8rem;
    color: #fff;
    text-decoration: underline; 
    text-underline-offset: 3rem; 
    text-decoration-thickness: 0.3rem; 
    font-family: "Roboto Slab", serif, bold;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.text2{
    color: #fff;
    font-family: "Roboto Slab", serif, bold;
    margin-top: 2.5rem;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.paragrafo1{
    font-size: 1.7rem;
    padding-right: 50.1rem;
    text-align: center;
    color: white;
    font-family: "Roboto Slab", serif;
    margin: 9rem;
    margin-top: 2.3rem;
}

.paragrafo2{
    font-size: 1.7rem;
    margin-top: -13.8rem;
    margin-left: 63rem;
    text-align: center;
    color: white;
    font-family: "Roboto Slab", serif;
}

.text-jogo {
    display: flex;
    width: 79.063rem; 
    height: 26.375rem;
    justify-content: center;
    text-align: center; 
    color: white; 
    font-size: 7rem; 
    font-family: Roboto Slab;
    position: absolute;
    right: 19rem; 
    top: 260rem; 
    text-shadow: 0.125rem 0.125rem 0.313rem rgba(0, 0, 0, 0.5);
}

.botao-jogo {
    display: flex;
    height: 9.6rem; 
    justify-content: center;
    position: absolute;
    margin-bottom: 50rem;
    top: 290rem;
    right: 34rem; 
    transition: transform 0.3s ease-out;
}

.botao-jogo:hover {
transform: scale(1.1);
}

.linha-cima {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 255rem;
right: 29.2rem;
}

.linha-baixo {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 285rem;
right: 28.2rem;
}

.fundo-game{
    width: 100%;
    height: 100%;
    margin-top: 15rem;
}


.turtle{ 
    position: relative;
    display: inline-block;
}


.turtle img{
    cursor: pointer;
    padding-left: 25rem;
    margin-top: 2rem;
    height: 40rem;
    
}


.turtle{
    transition: all .3s;
}

.turtle:hover{
    transform: translateY(-20px);
}

.turtle:hover .img-cavalo{
    opacity: .5;
    filter: drop-shadow(4px 4px 20px white);
}

.turtle .turtle:hover{
    opacity: 1;
}